<h1>Liste de tous les articles</h1>

<nav>
	<ul>
		<li><a href="/epicerie/accueil">Retour à l'accueil</a></li>
		<li><a href="/epicerie/statistiques">Statistiques</a></li>
		<li><a href="/epicerie/historique">Historique</a></li>
		<li><a href="/epicerie/mouvement">Saisie de mouvement</a></li>
		<li><a href="/epicerie/liste">Liste des articles</a></li>
		<li><a href="/epicerie/creer">Créer  un article</a></li>
		<li><a href="/epicerie/modifier">Modifier un article</a></li>
	</ul>
</nav>

<form action="" method="post">
	{% for article in articles %}
		<h3><a href="/epicerie/modifier?a={{ article.idarticles }}">{{ article.articleNom }}</a></h3>
		<button name="supprimer" value="{{ article.articleNom }}">Supprimer</button>
	{% endfor %}
	<br/>
	<a href="/epicerie/creer"><input type="button" name="creer" value="Ajouter un nouvel article"></a>
</form>