<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/build/main.css">

<h1>Modifier un article</h1>

<nav>
	<ul>
		<li><a href="/epicerie/accueil">Retour à l'accueil</a></li>
		<li><a href="/epicerie/statistiques">Statistiques</a></li>
		<li><a href="/epicerie/historique">Historique</a></li>
		<li><a href="/epicerie/mouvement">Saisie de mouvement</a></li>
		<li><a href="/epicerie/liste">Liste des articles</a></li>
		<li><a href="/epicerie/creer">Créer  un article</a></li>
		<li><a href="/epicerie/modifier">Modifier un article</a></li>
	</ul>
</nav>

<div class="container-fluid">
	<form action="" method="GET">
		<div class="row">
			<div class="col-5"></div>
				<div class="col-2"><select id="article" name="a">
					<option selected="selected" value="">Article</option>
						{% for article in article %}
							<option value="{{ article.idarticles }}">
								{{ article.articleNom }}
							</option>
						{% endfor %}
				</select></div>
			<div class="col-5"></div>
			<div class="col"></div>
				<div class="col-2"><input class="valider" type="submit" name="go"></div>
			<div class="col"></div>
		</div>
	</form>
</div>


<script type="text/javascript" src="/build/app.js"></script>