<h1>Statistiques</h1>

<nav>
	<ul>
		<li><a href="/epicerie/accueil">Retour à l'accueil</a></li>
		<li><a href="/epicerie/statistiques">Statistiques</a></li>
		<li><a href="/epicerie/historique">Historique</a></li>
		<li><a href="/epicerie/mouvement">Saisie de mouvement</a></li>
		<li><a href="/epicerie/liste">Liste des articles</a></li>
		<li><a href="/epicerie/creer">Créer  un article</a></li>
		<li><a href="/epicerie/modifier">Modifier un article</a></li>
	</ul>
</nav>

<h4>Valorisation du stock : {{ total|number_format(2, '.', ',') }}</h4>
<h4>Valorisation du stock par categorie : </h4>

{% for name,number in totalCat %}
	<p>{{name}} : {{number|number_format(2, '.', ',') }}</p>
{% endfor %}